* {
    margin: auto;
    padding: 0px;
}

.body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
}

.box{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 50px;
    width: 260px;
    border: 0px solid black;
    font-size: 15pt;
}

.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: auto;
    border: 1px solid red;
    margin-top: 30px;
    background-color: silver;

}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    border: 1px solid green;
}

.product{
    height: auto;
    width: auto;
    border: 1px solid blue;
    padding: 50px;
    font-size: xx-large;
    font-weight: 900;
}

.product1{
    height: auto;
    width: auto;
    border: 1px solid yellow;
    max-width: 1500px;
}

.box3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 1270px;
    border: 1px solid red;
    margin-top: 150px;
}

.services{
    height: auto;
    width: auto;
    border: 1px solid pink;
    margin-top: 20px;
}

.services .program{
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 20px;
}

.services .program1{
    height: auto;
    width: auto;
    border: 1px solid black;
    margin-top: 20px;
}


.services1{
    height: auto;
    width: auto;
    border: 1px solid indigo;
    margin-top: 20px;
}

.services1 .program2{
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 20px;
}

.services1 .program3{
    height: auto;
    width: auto;
    border: 1px solid black;
    margin-top: 20px;
}

.box4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    width: 1270px;
    border: 1px solid red;
    margin-top: 50px;
}

.services2{
    height: auto;
    width: auto;
    border: 1px solid pink;
}

.services2 .program4{
    height: 300px;
    width: 100%;
    min-width: 260px;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.services2 .program5{
    height: 80px;
    width: 100%;
    min-width: 260px;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-top: 20px;
}


.services3{
    height: auto;
    width: auto;
    border: 1px solid pink;
}

.services3 .program6{
    height: 300px;
    width:100%;
    min-width: 260px;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.services3 .program7{
    height: 80px;
    width: 100%;
    min-width: 260px;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-top: 20px;
}


.box5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 1270px;
    border: 1px solid darkblue;
    margin-top: 50px;
}

.services4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    border: 1px solid deeppink;
}

.services5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    border: 1px solid violet;
}


.partners{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    max-width: fit-content;
    border: 1px solid violet;
}

.partners .program8{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partners .program9{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partners .program10{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partners .program11{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partners .program12{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partners .program13{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partners .program14{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.partners .program15{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.partners .program16{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.partners .program17{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.partners .program18{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.partners .program19{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.box6{
    height: auto;
    width: 1270px;
    border: 1px solid black;
    margin-top: 40px;
}

.aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    max-width: 1270px;
    width: 100%;
    border: 1px solid green;
    margin: 0 auto;
    box-sizing: border-box; 
}

.info{
    height: 200px;
    width: 430px;
    border: 1px solid red;
    margin-top: 20px;
}

.info1{
    height: 200px;
    width: 350px;
    border: 1px solid yellow;
    margin-top: 20px;
}

.info2{
    height: 200px;
    width: 430px;
    border: 1px solid blue;
    margin-top: 20px;
}


.box7{
    height: 300px;
    width: 1310px;
    border: 1px solid black;
    margin-top: 200px;
}


.aside1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 1310px;
    border: 1px solid green;
}

.info3{
    height: 150px;
    width: 1310px;
    border: 1px solid blue;
}

.info4{
    height: 250px;
    width: 1310px;
    border: 1px solid blue;
}